body {
    background-color: #f9f8f5 !important;
}

.white-container {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px auto; 
}

.white-bg {
    background-color: #ffffff !important;
}

.logo {
    width: 15%;
}