@model SalespersonAddRequestDto

@{
    ViewBag.Title = "Create Salesperson";
    ViewBag.CurrentUrl = "~/Salesperson/Create";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a asp-controller="Salesperson" asp-action="Index" class="mb-2">Back to Salespersons List</a>
            <h3 class="text-center mb-4">Create Salesperson</h3>

            <form asp-controller="Salesperson" asp-action="Create" method="post">
                <div class="form-group mb-3">
                    <label asp-for="SalespersonFirstName" class="form-label">First Name</label>
                    <input asp-for="SalespersonFirstName" class="form-control" />
                    <span asp-validation-for="SalespersonFirstName" style="color: red;"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SalespersonLastName" class="form-label">Last Name</label>
                    <input asp-for="SalespersonLastName" class="form-control" />
                    <span asp-validation-for="SalespersonFirstName" style="color: red;"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SalespersonAddress" class="form-label">Address</label>
                    <input asp-for="SalespersonAddress" class="form-control" />
                    <span asp-validation-for="SalespersonAddress" style="color: red;"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SalespersonPhone" class="form-label">Phone</label>
                    <input asp-for="SalespersonPhone" type="tel" class="form-control" />
                    <span asp-validation-for="SalespersonPhone" style="color: red;"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="SalespersonStartDate" class="form-label">Start Date</label>
                    <input asp-for="SalespersonStartDate" class="form-control" />
                    <span asp-validation-for="SalespersonStartDate" style="color: red;"></span>
                </div>
                <div class="d-grid">
                    <button class="btn btn-outline-warning">Create</button>
                    <div asp-validation-summary="All" style="color: red;"></div>

                    @if (ViewBag.Errors != null)
                    {
                        <div>
                            <ul>
                                @foreach (string error in ViewBag.Errors)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>



@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}