<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Stylesheet.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/logo.png" class="logo" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Products/Index">Products</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Salesperson/Index">Salespersons</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Customer/Index">Customers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Sales/Index">Sales</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Discount/Index">Discounts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/QSCR/Index">Q.S.C.R</a></li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-outline-warning me-2 text-nowrap">Login</button>
                    <button class="btn btn-warning text-nowrap">Sign Up</button>
                </div>
            </div>
        </div>
    </nav>
    
    @RenderBody()

    <footer class="text-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <h5 class="footer-headings">Features</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="footer-text-normal">Products</a></li>
                        <li><a href="/" class="footer-text-normal">Salespersons</a></li>
                        <li><a href="/" class="footer-text-normal">Customers</a></li>
                        <li><a href="/" class="footer-text-normal">Sales</a></li>
                        <li><a href="/" class="footer-text-normal">Discounts</a></li>
                        <li><a href="/" class="footer-text-normal">Q.S.C.R</a></li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <h5 class="footer-headings">Resources</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="footer-text-normal">Feedback</a></li>
                        <li><a href="/" class="footer-text-normal">Help</a></li>
                        <li><a href="/" class="footer-text-normal">Detailed Terms</a></li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <h5 class="footer-headings">About</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="footer-text-normal">Team</a></li>
                        <li><a href="/" class="footer-text-normal">Privacy</a></li>
                        <li><a href="/" class="footer-text-normal">Terms</a></li>
                    </ul>
                </div>
            </div>
            <p class="mt-4">&copy; 2024 Lemon Automotives. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="~/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
