@model DiscountUpdateRequestDto

@{
    ViewBag.Title = "Edit Discount";
    ViewBag.CurrentUrl = "~/Discount/Edit";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <a asp-controller="Discount" asp-action="Index" class="mb-2">Back to Discounts List</a>
            <h3 class="text-center mb-4">Edit Discount</h3>

            <form asp-controller="Discount" asp-action="Edit" method="post">
                <div class="form-group mb-3">
                    <label asp-for="BeginDate" class="form-label">Begin Date</label>
                    <input asp-for="BeginDate" type="date" class="form-control" />
                    <span asp-validation-for="BeginDate" style="color: red;"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="EndDate" class="form-label">End Date</label>
                    <input asp-for="EndDate" type="date" class="form-control" />
                    <span asp-validation-for="EndDate" style="color: red;"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DiscountPercentage" class="form-label">Discount Percentage</label>
                    <input asp-for="DiscountPercentage" type="number" class="form-control" step="0.01" min="0" max="100" />
                    <span asp-validation-for="DiscountPercentage" style="color: red;"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="ProductID" class="form-label">Product ID</label>
                    <input asp-for="ProductID" class="form-control" />
                    <span asp-validation-for="ProductID" style="color: red;"></span>
                </div>
                <div class="d-grid">
                    <button class="btn btn-outline-warning">Update</button>
                    <div asp-validation-summary="All" style="color: red;"></div>

                    @if (ViewBag.Errors != null)
                    {
                        <div>
                            <ul>
                                @foreach (string error in ViewBag.Errors)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}
